<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<add key="BessemerManagement.Artfiacts" value="https://pkgs.dev.azure.com/BessemerManagement/_packaging/BessemerManagement.Artifacts/nuget/v3/index.json" />
		<add key="BessemerManagement.NuGet" value="https://pkgs.dev.azure.com/BessemerManagement/_packaging/BessemerManagement.NuGet/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
	</packageSources>

</configuration>